.hcs{
	overflow:hidden;
	text-align: left;
}
.hcs ul,
.hcs *{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;	
	list-style-type: none;
}
.hcs ul{
	margin: 0 -5px;
}
.hcs li{
	width: 100px;
	height:75px;
	position: relative;
	display: block;
	padding: 5px;
	margin: 5px 5px 0 5px;
	background: rgba(0,0,0,0.075);
	-webkit-border-radius:5px;
	-webkit-transition:background 0.2s linear;
	-moz-border-radius:5px;
	-moz-transition:background 0.2s linear;
	border-radius:5px;
	transition:background 0.2s linear;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#14000000)";		
	display: table;
	float:left;
	vertical-align:middle;
}
.hcs li a{
	width:100px;
	height:75px;
	text-align:center;
	vertical-align:middle;
	display: table-cell;
}
.hcs li:hover{
	background: rgba(0,0,0,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";		
}
.hcs img{
	width:auto;
	height: auto;
	max-width: 100px;
	max-height:75px;
	border: 0;
	-ms-interpolation-mode:bicubic;
	font-size:0;
	float:left;
}